<ion-header>
  <ion-toolbar>
    <ion-title>Suppression Ville</ion-title>

    <ion-buttons>
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Id de la ville:</ion-label>
    <ion-input type="number" [(ngModel)]="idVille"></ion-input>
  </ion-item>

      <ion-button  color="danger" expand="block" type="submit" (click)="validateDelete(idVille)">Supprimer</ion-button>
</ion-content>
